<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Sports News Scraper | {{title}}</title>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <style>
    body {
      -moz-font-feature-settings: "liga"on;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-feature-settings: "liga"on;
      text-rendering: optimizeLegibility;
    }
  </style>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div data-collapse="medium" data-animation="default" data-duration="400" class="navigation w-nav">
    <div class="navigation-container">
      <a href="/" class="a-nav-title">
        <div class="nav-title">
          NEWSLAND
        </div>
      </a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="/" class="navigation-link w-inline-block w--current">
          <div class="navigation-link-text">Home</div>
          <div class="navigation-hover"></div>
        </a>
        <a href="/saved-articles" class="navigation-link w-inline-block">
          <div class="navigation-link-text">Saved Articles</div>
          <div class="navigation-hover"></div>
        </a>
        {{#if activeLogin}}
        <a href="/signup" class="navigation-link w-inline-block">
          <div class="navigation-link-text">Signup</div>
          <div class="navigation-hover"></div>
        </a>
        {{/if}}
        {{#if activeSignup}}
        <a href="/login" class="navigation-link w-inline-block">
          <div class="navigation-link-text">Login</div>
          <div class="navigation-hover"></div>
        </a>
        {{/if}}
        {{#if isLoggedIn}}
        <a href="/logout" class="navigation-link w-inline-block">
          <div class="navigation-link-text">Logout</div>
          <div class="navigation-hover"></div>
        </a>
        {{/if}}
      </nav>
      <div class="menu-button w-nav-button">
        <div class="icon-2 w-icon-nav-menu"></div>
      </div>
    </div>
  </div>

  {{{body}}}

  <div class="main-footer">

    <div class="footer">
      <div class="container-footer">
        <div class="container">
          <div class="top-section">
            <a href="/" class="logo cc-footer w-inline-block">
              <div class="nav-title">
                NEWSLAND
              </div>
            </a>
            <div class="footer-small-text">© 2019 NEWSLAND™, all rights reserved</div>
          </div>
        </div>
        <div class="separator-footer">
          <div class="separator-color footer-line"></div>
        </div>
        <div class="container">
          <div class="bottom">
            <div class="bottom-1">
              <div data-delay="0" class="dropdown w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="icon w-icon-dropdown-toggle"></div>
                  <div>Category</div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                  <div class="w-dyn-list">
                    <div class="w-dyn-items">
                      <div class="dropdown-link w-dyn-item"><a href="" class="dropdown-link-text">US</a></div>
                      <div class="dropdown-link w-dyn-item"><a href="" class="dropdown-link-text">World</a></div>
                      <div class="dropdown-link w-dyn-item"><a href="" class="dropdown-link-text">Business</a></div>
                      <div class="dropdown-link w-dyn-item"><a href="" class="dropdown-link-text">Tech</a></div>
                      <div class="dropdown-link w-dyn-item"><a href="" class="dropdown-link-text">Science</a></div>
                      <div class="dropdown-link w-dyn-item"><a href="" class="dropdown-link-text">Sports</a></div>
                      <div class="dropdown-link w-dyn-item"><a href="" class="dropdown-link-text">Health</a></div>
                      <div class="dropdown-link w-dyn-item"><a href="" class="dropdown-link-text">Politics</a></div>
                    </div>
                  </div>
                </nav>
              </div>
              <div class="footer-categories">
                <div class="footer-title-text">Categories</div>
                <div class="footer-links-container cc-categories">
                  <div class="w-dyn-list">
                    <div class="collection-list w-dyn-items">
                      <div class="footer-collection-item w-dyn-item"><a href="" class="link-footer">US</a></div>
                      <div class="footer-collection-item w-dyn-item"><a href="" class="link-footer">World</a></div>
                      <div class="footer-collection-item w-dyn-item"><a href="" class="link-footer">Business</a></div>
                      <div class="footer-collection-item w-dyn-item"><a href="" class="link-footer">Tech</a></div>
                      <div class="footer-collection-item w-dyn-item"><a href="" class="link-footer">Science</a></div>
                      <div class="footer-collection-item w-dyn-item"><a href="" class="link-footer">Sports</a></div>
                      <div class="footer-collection-item w-dyn-item"><a href="" class="link-footer">Health</a></div>
                      <div class="footer-collection-item w-dyn-item"><a href="" class="link-footer">Politics</a></div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://d1tdp7z6w94jbb.cloudfront.net/js/jquery-3.3.1.min.js"></script>
  <script src="https://uploads-ssl.webflow.com/5c9475e1a934ec607e594d07/js/webflow.27d3358a8.js"></script>
  <script src="/js/bundle.js"></script>
</body>

</html>