<div class="category-btns">
  <div class="container">
    <div class="category-wrapper">
      <a class="button w-button category-btn" data-category="us">US</a>
      <a class="button w-button category-btn" data-category="world">World</a>
      <a class="button w-button category-btn" data-category="business">Business</a>
      <a class="button w-button category-btn" data-category="technology">Tech</a>
      <a class="button w-button category-btn" data-category="science">Science</a>
      <a class="button w-button category-btn" data-category="sports">Sports</a>
      <a class="button w-button category-btn" data-category="health">Health</a>
      <a class="button w-button category-btn" data-category="politics">Politics</a>
    </div>
  </div>
</div>


<div class="separator">
  <div class="separator-container">
    <div class="line-color"></div>
  </div>
</div>
<div class="latest-posts">
  <div class="container">
    <div class="section-title-text">LATEST NEWS <span class="category-title"></span></div>
    <div class="num-articles section-title-text"></div>
    <div class="pagination pagination-btns"></div>
    <div class="posts-wrapper">
      <div class="posts-collection-list-wrapper w-dyn-list">
        <div class="posts-collection-list w-dyn-items w-row articles-view-top">
          <h2>
            Choose a category
          </h2>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="separator">
  <div class="separator-container">
    <div class="line-color"></div>
  </div>
</div>
<div class="pagination footer-pagination">

</div>