<div class="login-form">
  <div class="form-block">
    <div class="login-info-text">
      Login
    </div>
    <div class="w-form form-login">
      <label for="email" class="w-form-label">Email</label>
      <input type="email" class="w-input" id="email">
      <label for="password" class="w-form-label">Password</label>
      <input type="password" class="w-input" id="password">
      <input type="submit" value="Submit" data-wait="Logging in..." class="submit-button w-button">
    </div>
    <div class="w-form-fail">
    </div>
    <div class="login-info-subtitle">
      Don't have an account? <a href="/signup">Signup</a>
    </div>
  </div>
</div>